<GridLayout backgroundColor="white" rows="*, auto, *" columns="*">
  <StackLayout row="1" horizontalAlignment="center" verticalAlignment="center" spacing="20">

    <!-- Logo -->
    <Image
      src="https://static.vecteezy.com/system/resources/previews/015/304/829/non_2x/tic-tac-toe-game-symbol-icon-in-line-style-design-isolated-on-white-background-editable-stroke-free-vector.jpg"
      width="150"
      height="150"
      stretch="aspectFit"
      horizontalAlignment="center"
    ></Image>

    <!-- Title -->
    <Label
      text="TIC TAC TOE"
      class="title"
      fontSize="28"
      fontWeight="bold"
      color="#222"
      horizontalAlignment="center"
    ></Label>

    <!-- Google Sign-In Button -->
    <StackLayout
      class="google-btn"
      orientation="horizontal"
      verticalAlignment="center"
      horizontalAlignment="center"
      (tap)="onGoogleSignUp()"
    >
      <Image
       src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/768px-Google_%22G%22_logo.svg.png"
        width="24"
        height="24"
        stretch="aspectFit"
        class="google-icon"
      ></Image>

      <Label
        text="Sign in with Google"
        class="google-text"
        verticalAlignment="center"
      ></Label>
    </StackLayout>

  </StackLayout>
</GridLayout>
